USE [master]
GO
/****** Object:  Database [Traffic_police]    Script Date: 06.12.2021 14:18:56 ******/
CREATE DATABASE [Traffic_police]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Traffic_police', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Traffic_police.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Traffic_police_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Traffic_police_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Traffic_police].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Traffic_police]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 06.12.2021 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](25) NOT NULL,
	[Passport] [nvarchar](25) NOT NULL,
	[Adress_registration] [nvarchar](100) NOT NULL,
	[Adress_life] [nvarchar](100) NOT NULL,
	[WorkingPlace] [nvarchar](100) NULL,
	[JobName] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](25) NOT NULL,
	[Photo] [varchar](50) NOT NULL,
	[Descriphion] [nvarchar](100) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.12.2021 14:18:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[role] [nchar](10) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
